mat-card {
  height: 100%;

  .title{
    font-size: var(--title-font-size);
  }
  .sub-title{
    font-size: var(--subtitle-font-size);
  }

  .mat-mdc-card-content{
    padding: 0;
  }
}

.count-primary-highlight{
    background-color: #3f51b5;
  }
  .count-accent-highlight{
    background-color: #ff4081;
    color: #fff;
  }
  .count-warn-highlight{
    color: #fff;
    background-color: #f44336;
  }