section{
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    nav{
        height: var(--nav-height);
    }
    main{
        min-height: calc(100% - (var(--nav-height) + var(--footer-height)));
        overflow: auto;
        .container{
            height: 100%;
        }
    }
    footer{
        margin-top: auto;
        height: var(--footer-height);
    }
}